<div
  class="relative flex h-12 w-full items-center justify-start overflow-hidden rounded-[5px] bg-white shadow-filter dark:bg-dark-blue sm:h-14 sm:min-w-[370px] md:w-[_480px]"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="18"
    height="18"
    viewBox="0 0 18 18"
    fill="none"
    class="absolute ms-8 h-[18px] w-[18px] fill-dark-gray text-gray-500 dark:fill-white"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.5 11H11.7L11.4 10.7C12.4 9.6 13 8.1 13 6.5C13 2.9 10.1 0 6.5 0C2.9 0 0 2.9 0 6.5C0 10.1 2.9 13 6.5 13C8.1 13 9.6 12.4 10.7 11.4L11 11.7V12.5L16 17.5L17.5 16L12.5 11ZM6.5 11C4 11 2 9 2 6.5C2 4 4 2 6.5 2C9 2 11 4 11 6.5C11 9 9 11 6.5 11Z"
      fill="current-color"
    />
  </svg>

  <input
    [formControl]="searchControl"
    class="h-full w-full pl-[74px] placeholder:text-sm placeholder:font-normal placeholder:leading-5 placeholder:text-dark-gray focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100 dark:bg-dark-blue dark:placeholder:text-white"
    type="text"
    id="search"
    placeholder="Search for a country..."
  />
  <label for="search" class="sr-only">Search</label>
</div>
