<main class="pb-10">
  <rc-toolbar
    (regionSelected)="onRegionSelectionChanged($event)"
    [searchForm]="searchFormControl"
  ></rc-toolbar>
  <div
    *ngIf="finalPageData$ | async as response; else loading"
    class="country-list-container"
  >
    <div class="country-list-grid">
      <rc-country
        *ngFor="let country of response.items; trackBy: trackByFn"
        [country]="country"
      ></rc-country>
      <div
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="500"
        (scrolled)="onScroll()"
      ></div>
    </div>
  </div>
  <ng-template #loading>
    <div class="country-list-container">
      <div class="country-list-grid">
        <div
          *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"
          class="animate-pulse overflow-hidden rounded-[5px]"
        >
          <div class="h-[336px] w-full bg-slate-200 dark:bg-slate-700"></div>
        </div>
      </div>
    </div>
  </ng-template>
</main>
