<main class="pt-20">
  <div class="container px-6 max-w-[1328px]">
    <button (click)="onBack()" class="shadow-back px-8 py-2 rounded-md">
      &larr; <span class="ml-2">Back</span>
    </button>

    <section
      class="mt-20 flex flex-col md:flex-row items-start gap-x-[120px] relative overflow-hidden"
    >
      <div
        class="h-[401px] w-[560px] rounded-[10px] overflow-hidden shadow-flag"
      >
        <img
          *ngIf="!loading"
          [src]="country.flag"
          alt="flag of ..."
          class="w-full h-full"
        />
      </div>
      <div class="flex-1 py-[39px]">
        <h1 class="font-extrabold text-[32px] leading-[44px]">
          {{ country.name }}
        </h1>

        <div class="flex gap-[141px] mt-[23px]">
          <ul class="flex flex-col gap-2">
            <li class="font-light">
              <span class="font-semibold">Native Name:</span>
              {{ country.nativeName }}
            </li>
            <li class="font-light">
              <span class="font-semibold">Population:</span>
              {{ country.population | number }}
            </li>
            <li class="font-light">
              <span class="font-semibold">Region:</span>
              {{ country.region }}
            </li>
            <li class="font-light">
              <span class="font-semibold">Sub Region:</span>
              {{ country.subregion }}
            </li>
            <li class="font-light">
              <span class="font-semibold">Capital:</span>
              {{ country.capital }}
            </li>
          </ul>
          <ul class="flex flex-col gap-2">
            <li class="font-light">
              <span class="font-semibold">Top Level Domain:</span>
              {{ country.topLevelDomain[0] }}
            </li>
            <li class="font-light">
              <span class="font-semibold">Currencies:</span>
              {{ country.currencies[0].name }}
            </li>
            <li class="font-light">
              <span class="font-semibold">Languages:</span>
              {{ languages }}
            </li>
          </ul>
        </div>

        <div class="mt-[68px] flex items-start gap-x-4">
          <p class="font-semibold mt-1">Border Countries:</p>
          <div class="flex gap-x-[10px] flex-wrap">
            <a
              href=""
              *ngFor="let item of country?.borders"
              class="shadow-tag px-[10px] rounded-sm w-24 h-7 flex items-center justify-center text-sm font-light"
            >
              {{ item }}
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<!-- TODO: 1. Get the actual country name from the API -->
