<main>
  <rc-toolbar
    (regionSelected)="onRegionSelectionChanged($event)"
    [searchForm]="searchFormControl"
  ></rc-toolbar>
  <div
    *ngIf="finalPageData$ | async as countries; else loading"
    class="country-list-container"
  >
    <div class="country-list-grid">
      <rc-country
        *ngFor="let country of countries; trackBy: trackByFn"
        [country]="country"
      ></rc-country>
      <div
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="500"
        (scrolled)="onScroll()"
      ></div>
    </div>
  </div>
  <ng-template #loading>
    <div class="country-list-container pb-10">
      <div class="country-list-grid">
        <div
          *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"
          class="animate-pulse rounded-[5px] overflow-hidden"
        >
          <div class="bg-slate-200 dark:bg-slate-700 w-full h-[336px]"></div>
        </div>
      </div>
    </div>
  </ng-template>
</main>
